{% extends "layout.html.twig" %}

{% block content %}
	<div id="layoutSidenav_content">
		<main>
			<div class="container-fluid px-4">
            <h1 class="mt-4">RESERVAS DE MATERIALES</h1>
				<div class="card mb-4">
					<div class="card-header">
						<i class="fas fa-table me-1"></i>
						
					</div>
					<div class="card-body">
						<table id="datatablesSimple">
							<thead>
								<tr>
									<th>Nombre de Material</th>
									<th>Nombre de Usuario</th>
									<th>Fecha de Reserva</th>
                                    <th>Fecha de Devolucion</th>
									<th>Cantidad</th>
                                    <th>Estado</th>
									<th></th>
									<th></th>
								</tr>
							</thead>
							<tfoot>
								<tr>
									<th>Nombre de Material</th>
									<th>Nombre de Usuario</th>
									<th>Fecha de Reserva</th>
                                    <th>Fecha de Devolucion</th>
									<th>Cantidad</th>
                                    <th>Estado</th>
									<th></th>
									<th></th>
								</tr>
							</tfoot>
							<tbody>
								{% for task in data %}
									<tr>
										<td>{{task.idMaterial.nombre}}</td>
										<td>{{task.idUsuario.nombreUsuario}}</td>
										<td>{{task.fechaReserva|date("d/m/Y")}}</td>
										<td>{{task.fechaDevolucion|date("d/m/Y")}}</td>
                                        <td>{{task.cantidad}}</td>
										<td>{{task.estado}}</td>
                                        <td><a href="/actualizarReservaMaterial/{{task.idUsuario.id}}/{{task.idMaterial.id}}/{{task.fechaReserva}}">Actualizar</a></td>
                                        <td><a href="/eliminarReservaMaterial/{{task.idUsuario.id}}/{{task.idMaterial.id}}/{{task.fechaReserva}}">Eliminar</a></td>
									</tr>
								{% endfor %}
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</main>
	{% endblock %}
